/* 個別頁面 Pages */
/* 品牌故事頁面才會用到的 Brand Story Page */
.brand-story-hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  padding: 151px 0px;
}

.brand-info-img {
  width: 1076px;
  margin: 0 auto;
}

.brand-history-list {
  list-style-type: disc;
  padding-left: 24px;
}
.brand-history-label {
  border-left: 1px solid var(--neutral-900);
}
.brand-concept-li {
  border-left: 3px solid var(--neutral-300);
}
