/* 麵包屑 */
.breadcrum {
  display: flex;
  align-items: baseline;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--neutral-600);
}

.breadcrum a {
  display: inline;
}
.breadcrum > :last-child {
  color: var(--neutral-900);
}
.breadcrum li + li::before {
  content: "/";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--neutral-300);
  margin: 0px 12px;
}
